.NewTextNavOne {
    font-family: "Crimson Text", serif;
    font-style: normal;
    color: white;
}
.LessBorder{
    border-top: 0.5px solid rgba(255, 255, 255, 0.28);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.28);
}
.ResNavBar{
    display: none;
}
.Logo{
    font-family: "Outfit", serif;
    font-size: 2rem;
    color: white;
}
.CardHeading{
    font-family: "Crimson Text", serif;
    font-size: 2rem;
    font-weight: bold;
}
.DescriptionCard{
    font-family: "Outfit", serif;
    font-size: 1.1rem;
    font-weight: 500;
}
.Ribbon{
    position: relative;
    left: 25rem;
}
.Polygon{
    position: relative;
    top: 5rem;
    left: 40rem;
}
.BlogHeadOne{
    font-family: "Crimson Text", serif;
}

@media only screen and (max-width: 600px) {
   .NavbarOne{
    display: none;
   }
   .NavbarTwo{
    display: none;
   }
   .ResNavBar{
    display: flex;
    justify-content: center;
   }    
   .MainCard{
    width: 22rem;
   }
   .BlogMainHeading{
    flex-direction: column;
    
   }
   .Ribbon{
    display: none;
   }
   .BlogHeadingText{
    width: 100%;
    /* margin: 0; */
   }
   .BlogHeadOne{
    margin-left: -5rem;
   }
   .BlogHead{
    margin: 0;
   }
 
   
  

  }