.NewTextNavOne {
    font-family: "Crimson Text", serif;
    font-style: normal;
    color: white;
}
.LessBorder{
    border-top: 0.5px solid rgba(255, 255, 255, 0.28);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.28);
}
.ResNavBar{
    display: none;
}
.Logo{
    font-family: "Outfit", serif;
    font-size: 2rem;
    color: white;
}
.CardHeading{
    font-family: "Crimson Text", serif;
    font-size: 2rem;
    font-weight: bold;
}
.DescriptionCard{
    font-family: "Outfit", serif;
    font-size: 1.1rem;
    font-weight: 500;
}
.Ribbon{
    position: relative;
    left: 24rem;
    top: 0.2rem;
}
.Polygon{
    position: relative;
    top: 5rem;
    left: 40rem;
}
.BlogHeadOne{
    font-family: "Crimson Text", serif;
}
.BlogHeadTwoRes{
    display: none;
}
.BlogCardHeading{
    font-family: "Outfit", serif;
    font-size: 1rem;
    font-weight: bold;
}
.BlogCardDescription{
    font-family: "Outfit", serif;
    font-size: 0.8rem;
}
.BlogCardImg{
    overflow: hidden;
}
.ZoomImage {
    transition: transform 0.6s ease; /* Add a smooth transition effect */
  }
  
  .BlogSingleCardMain:hover .ZoomImage {
    transform: scale(1.1); 
    
  }
  .BlogSingleCardMain:hover .CardReadMoreButton {
    color: white;
    background: blue;
    transition: color 0.6s ease, background 0.3s ease;
    
  }

@media only screen and (max-width: 600px) {
   .NavbarOne{
    display: none;
   }
   .NavbarTwo{
    display: none;
   }
   .ResNavBar{
    display: flex;
    justify-content: center;
   }    
   .MainCard{
    width: 22rem;
   }
   .BlogMainHeading{
    flex-direction: column;
    
   }
   .Ribbon{
    display: none;
   }
   .BlogHeadingText{
    width: 100%;
    /* margin: 0; */
   }
   .BlogHeadOne{
    margin-top: 2rem;
    margin-left: -4rem;
   }
   .BlogHead{
    margin: 0;
    font-size: 2rem;
   }
   .BlogHeadTwo{
    display: none;
   }
   .BlogHeadTwoRes{
    display: flex;
    position: relative;
    top: 0.5rem;
    
   }
   .BlogSingleCardMain{
    margin: 0 1rem 1rem 1rem;
   }
  
 
   
  

  }